*{
    font-family:Arial, Helvetica, sans-serif;
}
body{
    background-color: black;
    color: antiquewhite;
}

#caixaconsultacpf{
    margin: 60px auto 0 auto;
    width: 70%;
    height: 300px;
    border: 1px solid red;
}
#textolabel{
    margin-top: 30px;
    margin: 30px;
    margin: 15px 15px 15px 15px;
    color: aquamarine;
    font-size: 22px;
    border: 1px solid red;

}

#nome{
    margin-top: 30px;
    margin: 10px 10px 10px 10px;
    width: 285px;
    height: 30px;
    font-size: 20px;
    background-color: darkslategray;
    color: aquamarine;
    border: 0px solid black;
    border-radius: 5px;
    padding-left: 10px;
    
}

#inputA{
    margin-top: 30px;
    margin: 10px 10px 10px 10px;
    width: 135px;
    height: 30px;
    font-size: 20px;
    background-color: darkslategray;
    color: aquamarine;
    border: 0px solid black;
    border-radius: 5px;
    padding-left: 10px;
    
}

#telacpf{
    /* margin-top: 30px;
    margin: 10px 10px 10px 10px;
    width: 135px;
    height: 30px; */
    font-size: 20px;
    /*background-color: darkslategray;*/
    color: aquamarine;
    border: 0px solid black;
    border-radius: 5px;
    padding-left: 10px;

}

textarea:focus, input:focus label:focus { /* tira a borda quando clica para preencher */
    box-shadow: 0 0 0 0;
    outline: 0;
}

#inputBt{
    margin: 10px 10px 0 5px;
    width: 100px;
    height: 30px;
    font-size: 20px;
    border-radius: 5px;
    background-color: darkslategray;
    color: antiquewhite;
}